
/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
}

/* Here is one of many  CSS rules you will need... */
#three{
    position: fixed;
    border: 5px solid #fea405;
    margin: 5px;
    padding: 5px;
    width: 25%;
    top: 0;
}
#two{
	position: fixed;
    border: 5px solid #048103;
    margin: 5px;
    padding: 5px;
    width: 25%;
    top: 0;
    right: 0;
}
#four{
		position: fixed;
	border: 5px solid #ffff00;
	margin: 5px;
	padding: 5px;
	width: 25%;
	bottom: 0;
}
#one{
	position: fixed;
	border: 5px solid #0201ff;
	margin: 5px;
	padding: 5px;
	width: 25%;
	bottom: 0;
	right: 0;
}
#link
{	
	text-align: center;
	color: white;
	background-color:#0201ff;
	display: inline;
}
